.sidenav-container {
    height: 100vh; 
  }
  
  .sidenav {
    width: 300px !important; 
    background-color: #003366;
    color: #ffffff;
    border-right: 1px solid #002244;
  }
  
  mat-nav-list {
    padding: 0;
  }
  
  mat-ripple-element {
    display: none; 
  }
  
  mat-ripple {
    display: none !important; 
  }
  
  mat-list-item {
    font-size: 16px;
    padding: 16px 20px; 
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: #ffffff;
  }
  
  mat-list-item.active-link {
    background-color: #00509e; 
    font-weight: bold;
    outline: none; 
    color: #ffffff; 
  }
  
  mat-list-item.active-link,
  mat-list-item {
    padding: 16px 20px;
    font-size: 16px;
  }
  
  mat-sidenav-content {
    padding: 16px;
    background-color: #ffffff; 
  }

  .main-content {
    margin: 16px;
  }
  